<ion-view>
    <ion-content has-header='true' padding='true'>
        <div class="list">
            <label class="item item-input">
                <input type="text" name="username" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="password" name="password" placeholder="Password">
            </label>
        </div>
        <a class="button button-block button-stable" href="#app/home">Login</a>
        <a class="button button-block button-positive" href="#signup">Sign Up <i class="icon ion-person-add"></i></a>
    </ion-content>
</ion-view>
