<ion-view  hide-back-button="true">
    <content has-header='true' padding='true'>
        <div class="list">
            <label class="item item-input">
                <input type="text" name="email" placeholder="Email Address">
            </label>
            <label class="item item-input">
                <input type="text" name="username" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="password" name="password" placeholder="Password">
            </label>
            <label class="item item-input">
                <input type="password" name="repeatPassword" placeholder="Confirm password">
            </label>
        </div>
        <a class="button button-block button-stable borderNone" href="#app/home"><b>Register</b></a>
        <a class="button button-block button-assertive" href="#login">Cancel</a>
    </content>
</ion-view>